/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7c3aed;
  --ifm-color-primary-dark: #6d28d9;
  --ifm-color-primary-darker: #5b21b6;
  --ifm-color-primary-darkest: #4c1d95;
  --ifm-color-primary-light: #a78bfa;
  --ifm-color-primary-lighter: #c4b5fd;
  --ifm-color-primary-lightest: #ede9fe;
  --ifm-footer-background-color: rgb(244, 247, 255);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(124, 58, 237, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #a78bfa;
  --ifm-color-primary-dark: #8b5cf6;
  --ifm-color-primary-darker: #7c3aed;
  --ifm-color-primary-darkest: #6d28d9;
  --ifm-color-primary-light: #c4b5fd;
  --ifm-color-primary-lighter: #ddd6fe;
  --ifm-color-primary-lightest: #f5f3ff;
  --ifm-footer-background-color: rgb(25, 25, 25);
  --docusaurus-highlighted-code-line-bg: rgba(167, 139, 250, 0.2);
}

.markdown > p > img, figure > img {
  cursor: pointer;
}

.hero .container {
  max-width: 800px;
}

.hero__subtitle {
  margin-bottom: 40px;
}

.hero .DocSearch {
  width: 100%;
  height: 42px;
  padding: 12px;
  max-width: 600px;
  margin: 50px auto 0;
}

.hero_popular {
  margin-top: 0.5rem;
  font-size: 0.895rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.feature-card {
  border: 1px solid var(--ifm-color-emphasis-200);
  height: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  padding-bottom: 20px;
}

.footer, .footer__copyright {
  border-top: 1px solid var(--ifm-toc-border-color);
}

.footer__copyright {
  padding-top: 20px;
}

.footer__links {
  margin-bottom: var(--ifm-footer-padding-vertical);
}